name: "Terraform Linter"

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform-check:
    name: "Check Syntax"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate
